@keyframes rotation360 { /* анимация вращения элемента вокруг своей оси на 360* за 20с*/
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation360 20s infinite linear;
}
